extends layout

block content
    .container
        .row.vh-100.d-flex.justify-content-center.align-items-center
            .col-md-8
                .card
                    .card-header.text-center
                        h5 Live Chat
                    .card-body.overflow-auto(style="height:20rem;")
                        ul#messages.list-group
                            
                    .card-footer
                        form.input-group
                            input#message-input.form-control(type='text', placeholder='type a message')
                            button#send-message.btn.btn-outline-primary.rounded-end(type="submit")
                                svg.bi.bi-send(xmlns='http://www.w3.org/2000/svg', width='16', height='16', fill='currentColor', viewBox='0 0 16 16')
                                    path(d='M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z')
                                | Send
                        .d-flex.align-items-center.d-none#loading
                            strong Loading... 
                            .spinner-border.ms-auto(role="status", aria-hidden="true")

//- my script
block myScript 
    script(src="js/index.js")