header 
    nav.navbar.navbar-dark.navbar-expand-lg.bg-primary.fixed-top
        .container-fluid
            h1.navbar-brand #{navTitle}
        .collapse.navbar-collapse
            ul.navbar-nav.px-5
                li.nav-item
                    button#buttonNavbar.btn.btn-outline-dark #{ButtonNav}