extends layout

block content
    .container 
        .row.vh-100.d-flex.justify-content-center.align-items-center 
            .col-md-4.d-flex.justify-content-center
                img(src="img/chat-live.png", alt="icon chat live", width="200px")
            .col-md-4.text-center  
                h2 Chat Live 
                p This website was create by Nedy Nugroho. This web is used for fun
                a.btn.btn-outline-dark(href="/login") Go to Login